<footer class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <p>© 2024 ISML 数据可视化</p>
            <p>数据来源：<a href="https://international.saimoe.website/" target="_blank">ISML 官网</a></p>
            <p>
                <a href="https://github.com/HatsuSumi/isml-2024" target="_blank">GitHub</a> |
                <a href="https://github.com/HatsuSumi/isml-2024/issues/new?labels=留言" target="_blank">如发现问题或者有什么建议或意见，请点击我留言</a>
            </p>
        </div>
    </div>
</footer>