<nav class="navbar">
    <div class="nav-container">
        <a href="index.html" class="nav-logo">ISML 2024</a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="#" class="nav-link">赛事日程</a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link">恒星组 ▾</a>
                <ul class="dropdown-menu">
                    <li><a href="#">提名赛</a></li>
                    <li><a href="#">预选赛</a></li>
                    <li><a href="#">正赛</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link">彗星组 ▾</a>
                <ul class="dropdown-menu">
                    <li><a href="#">提名赛</a></li>
                    <li><a href="#">预选赛</a></li>
                    <li><a href="#">正赛</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">数据统计</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">关于</a>
            </li>
        </ul>
    </div>
</nav> 